<!-- index.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fit Force</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div class="main">
  <h1>Fit Force</h1>
</div>

<div class="container1">
  <div class="left-panel">
    <h3>Podopieczni</h3>
    <h3>Kalendarz Treningów</h3>
  </div>

  <div class="middle-panel">
    <h1>Witamy</h1>

  </div>
  <div class="right-panel">
    <h3>Rejestracja</h3>
    <h3>Logowanie</h3>
    <h3>Wyloguj</h3>
  </div>
  </div>
<div class="container2">

  <app-users></app-users>






</div>


  <div class="footer">
    <p>&copy; 2024 Fit Force. All rights reserved.</p>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-resource.min.js"></script>
<script src="script.js"></script> <!-- Skrypt Angulara -->
</body>
</html>
